{% extends 'base.html' %}

{% block title %} About
{% endblock title%}

{% block body %} 
<div class="container-fluid px-0 mb-3">
<img src="https://images.unsplash.com/photo-1616693545783-a1bdddf4179e?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=400&ixid=MnwxfDB8MXxyYW5kb218fHx8fHx8fHwxNjE3NTI3OTQz&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1200" class="d-block w-100" alt="...">
</div>

<!--form-->
<div class="container mb-3 px-4">
<h1 class="text-center "> Contact Us </h1>
<form method="post" action="/contact">
 {% csrf_token %}
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Share your Query</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>
{% endblock body%}
